@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
*,
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  color: #7f9c9f;
  background-color: #c5e4e7;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  width: 100%;
}

.header {
  margin-bottom: 85px;
  text-transform: uppercase;
  color: #406667;
  line-height: 1.5;
  letter-spacing: 10px;
  text-align: center;
}

.block {
  background-color: #fff;
  padding: 30px 30px 30px 50px;
  max-width: 920px;
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 45px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.column_b {
  background-color: #00494d;
  padding: 50px 40px 40px 40px;
  border-radius: 20px;
}

.form__title {
  color: #5e7a7d;
  margin-bottom: 10px;
  font-size: 18px;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00494d;
  background-color: #f4fafa;
  margin-bottom: 45px;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  padding: 0 15px;
  text-align: right;
}
.input_b {
  background: url("/images/icon-dollar.svg") #f4fafa left 15px center no-repeat;
}
.input_p {
  background: url("/images/icon-person.svg") #f4fafa left 15px center no-repeat;
}

.input:hover,
.select__tip-item_c:hover {
  border: #26c0ab 3px solid;
  color: #00494d;
  background-color: #f4fafa;
}

.select__tip {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12px 1fr 12px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 12px;
}
.select__tip-item {
  background-color: #00494d;
  color: #fff;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 117px;
  height: 50px;
  padding: 0 15px;
  border-radius: 5px;
  text-align: center;
}
.select__tip-item_c {
  background-color: #f4fafa;
  color: #00494d;
  font-size: 22px;
  font-weight: 700;
}
.select__tip-item:hover:not(:last-child) {
  color: #00494d;
  background-color: #26c0ab;
}

.result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}
.result__title {
  position: relative;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 80px;
}
.result__title span {
  position: absolute;
  font-size: 14px;
  text-transform: none;
  color: #5e7a7d;
  left: 5px;
  bottom: -20px;
}
.result__number {
  text-align: right;
  font-size: 35px;
  color: #26c0ab;
}

.reset {
  background-color: #02565a;
  color: #00494d;
  padding: 17px;
  display: block;
  width: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 80px;
  font-weight: 700;
  font-size: 22px;
}
.reset:hover {
  background-color: #26c0ab;
  color: #00494d;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.active {
  color: #00494d;
  background-color: #26c0ab;
}

.active-input {
  border: #26c0ab 3px solid;
  color: #00494d;
  background-color: #f4fafa;
}

.zero {
  color: #bd5131;
  position: absolute;
  right: 0;
  top: 0px;
  font-size: 18px;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}