*,
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$StrongCyan:hsl(172, 67%, 45%);
$Very-darkCyan: hsl(183, 100%, 15%);
$Dark-grayishCyan: hsl(186, 14%, 43%);
$Dark-grayishCyan1: hsl(184, 14%, 56%);
$Light-grayishCyan: hsl(185, 41%, 84%);
$Light-grayishCyan1: hsl(189, 41%, 97%);

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 1.67vh;
   font-family: 'Space Mono', monospace;
   color: $Dark-grayishCyan1;
   background-color: $Light-grayishCyan;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.wrapper {

   width: 100%;
}

.header {
   margin-bottom: 85px;
   text-transform: uppercase;
   color: #406667;
   line-height: 1.5;
   letter-spacing: 10px;
   text-align: center;
}

.block {
   background-color: #fff;
   padding: 30px 30px 30px 50px;
   max-width: 920px;
   border-radius: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 45px;
   margin: 0 auto;
   margin-bottom: 10px;
}

.column {

   &_b {
      background-color: $Very-darkCyan;
      padding: 50px 40px 40px 40px;
      border-radius: 20px;
   }
}

.form {
   &__title {
      color: $Dark-grayishCyan;
      margin-bottom: 10px;
      font-size: 1.5rem;
   }
}

.input {
   display: flex;
   align-items: center;
   color: $Very-darkCyan;
   background-color: $Light-grayishCyan1;
   margin-bottom: 45px;
   height: 45px;
   width: 100%;
   border-radius: 5px;
   font-size: 1.75rem;
   padding: 0 15px;
   text-align: right;

   &_b {
      background: url("/images/icon-dollar.svg") $Light-grayishCyan1 left 15px center no-repeat;
   }

   &_p {
      background: url("/images/icon-person.svg") $Light-grayishCyan1 left 15px center no-repeat;
   }
}

.input:hover,
.select__tip-item_c:hover {
   border: $StrongCyan 3px solid;
   color: $Very-darkCyan;
   background-color: $Light-grayishCyan1;
}

.select {}

.select__tip {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-between;
   grid-gap: 12px;


   &-item {
      background-color: $Very-darkCyan;
      color: #fff;
      padding: 20px 40px;
      font-size: 1.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 117px;
      height: 50px;
      padding: 0 15px;
      border-radius: 5px;
      text-align: center;

      &_c {
         background-color: $Light-grayishCyan1;
         color: $Very-darkCyan;
         font-size: 1.75rem;
      }

      &:hover:not(:last-child) {
         color: $Very-darkCyan;
         background-color: $StrongCyan;
      }
   }
}

.result {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-bottom: 60px;

   &__title {
      position: relative;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 80px;
      font-size: 1.5rem;

      span {
         position: absolute;
         font-size: 0.875rem;
         text-transform: none;
         color: $Dark-grayishCyan;
         left: 5px;
         bottom: -20px;
      }
   }

   &__number {
      text-align: right;
      font-size: 2.5rem;
      color: $StrongCyan;
   }
}

.reset {
   background-color: #02565a;
   color: $Very-darkCyan;
   padding: 10px;
   display: block;
   width: 100%;
   text-transform: uppercase;
   border-radius: 5px;
   margin-top: 80px;
   font-weight: 700;
   font-size: 1.375rem;
   font-stretch: condensed;

   &:hover {
      background-color: $StrongCyan;
      color: $Very-darkCyan;
   }
}

.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}

.active {
   color: $Very-darkCyan;
   background-color: $StrongCyan;
}

.active-input {
   border: $StrongCyan 3px solid;
   color: $Very-darkCyan;
   background-color: $Light-grayishCyan1;
}

.zero {
   color: rgb(189, 81, 49);
   position: absolute;
   right: 0;
   top: 0px;
}

.form__input {
   display: flex;
   flex-direction: column;
   position: relative;
}